.MainApp {
  width: 100%;
}

.status {
  width: 10px;
  height: 10px;
  padding: 10px;
  border: 2px solid;
  border-radius: 50%;
}
.status:hover {
  cursor: pointer;
}

.List {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 10px 0 px; /* Remove margins */
}

.logo {
  width: 15px;
  height: 15px;
  padding: 10px;
}

.logo:hover {
  cursor: pointer;
}
.checked {
  background-image: var(--check-background);
  border-radius: 50%;
}
